<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <title>Legal e Bonito - Para Comprar e Vender </title>
</head>

<body>
    <h1>Seja Bem Vindo ao LeB!!!</h1>
    <p><a href={{ url_for("usuario") }}> Cadastro de Usuario</a></p>
    <p><a href={{ url_for("anuncio") }}> Cadastro de Anuncio</a></p>
    <p><a href={{ url_for("categoria") }}> Categorias de Categoria</a></p>
    <p><a href={{ url_for("compras") }}> Compras desse usuario</a></p>
    <p><a href={{ url_for("logout") }}> Logout</a></p>
</body>

</html>
