<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <title>Legal e Bonito - Para Comprar e Vender </title>
</head>

<body>
    <h1>Seja Bem Vindo ao LeB!!!</h1>
    <p><a href={{url_for("usuario")}}> Cadastro de Usuario</a></p>
    <p><a href={{url_for("login")}}> Login de Usuario</a></p>
    <p><a href={{url_for("anuncio")}}> Cadastro de Anuncio</a></p>
    <p><a href={{url_for("pergunta")}}> Comentarios no Anuncio</a></p>
    <p><a href={{url_for("favorito")}}> Anuncios Favoritos</a></p>
    <p><a href={{url_for("categoria")}}> Categorias de Anuncio</a></p>
    <p><a href={{url_for("reportVenda")}}> Relatorios de Vendas</a></p>
    <p><a href={{url_for("reportCompra")}}> Relatorios de Compras</a></p>
</body>

</html>