<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <title>-- Legal e Bonito -- Para Comprar e Vender -- {{titulo}}</title>
</head>

<body>
    <h4>{{titulo}}</h4>
    <form action="caduser" method="post">

        <p><label for="user">Nome Usuario</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwd">Senha</label></p>
        <p><input type="text" id="passwd" name="passwd"></p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>

</body>

</html>